{% extends "layout.html" %}
{% block content %}

<style>
div #sidebar
{
  border:2px solid #a1a1a1;
  padding:10px 20px;
  border-radius:15px;
}
</style>

<div id="sidebar">
  <span>Select plot type</span>
  <form action="/" method="post">
    {{ form.hidden_tag() }}
    {% for subfield in form.chart_type %}
      <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
      </tr><br/>
    {% endfor %}
    <p><input type="submit" value="View Plot"></p>
  </form>
</div>

<div id="container" style="width:70%; height:400px;">
  {{ plot|safe }}
</div>

{% endblock %}
